body{
  background:#F2F2F2;
}

#calculator{
  width: 300px;
  height:450px;
  margin:100px auto;
  background: #E0ED8E;
  border-radius:20px;
  border-bottom: 3px solid #D4E086;
}

.display{
  position:relative;
  top:10px;
  width: 90%;
  height: 80px;
  background: #C6D37C;
  margin: 0px auto;
  border-radius:10px;
  box-shadow: inset 0 0 10px #BDC976;
}

.output{
  color:white;
  font-size:25px;
  float: right;
  margin-right:2px;
}

.buttons{
  position:relative;
  top: 20px;
  width: 100%;
  height: 300px;
  margin:0px auto;
  text-align: center;
}

button{
  outline: none;
  background: #DCEA8A;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0px 2px 0px 0px;
  border-bottom: 4px solid #D0DD82;
  cursor: pointer;
}

button:active {
  border-bottom: 2px solid #D0DD82;
}

button p {
  color: white;
  font-size: 16px;
}

.operator{
  background:white;
  border-radius: 100%;
  border-bottom: 4px solid #F2F2F2;
}

.operator p{
  position: relative;
  top:-9px;
  color: #D4E086;
  font-size: 20px;
}

.operator:active{
  border-bottom:2px solid #F2F2F2;
}

.equals{
  background:white;
  width: 55%;
  margin-top:3px;
  border-radius: 10px;
  border-bottom: 4px solid #F2F2F2;
}

.equals p{
  position: relative;
  margin-top: -14px;
  color: #D4E086;
  font-size:50px;
}

.equals:active{
  border-bottom:2px solid #F2F2F2;
}

.row{
  -webkit-flex-flow: row wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
